:root {
    --blue: #3b82f6;
    --lightgrey: #f3f4f6;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}


.sidebar {
    grid-row: 1/3;
    display: grid;
    background-color: var(--blue);
    /* justify-items: center; */
    gap: 50px;
}

.logo {
    margin-top: 10px;
}

.nav-extra {
    margin-bottom: 10px;
}


/* .header {
    display: grid;
    grid-template-columns: 1fr;
} */

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}


.content {
    background-color: var(--lightgrey);
}